---
---

header#nbis-notebooks {
    box-sizing: border-box;
    /* box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75); */
    background-color:#2b5b84;
    background: linear-gradient(0deg, white 30%, #2b5b84 40%);
    color:white;
    padding:1em 3em 0 3em;

    > a {
	text-decoration:none; cursor:pointer; display:inline-block;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
	color: #ffffff;
	padding:0.3em 1em;
	border:0; background:transparent;
	position:absolute; left:0; top:center;

	&:hover {
	    box-shadow: 0px 35px 15px -20px rgba(0, 0, 0, 0.75); 
	}
    }

    nav {
	display:flex; justify-content:center; align-items:center;
	height: 50px;
	
	a {
	    text-decoration:none; cursor:pointer; display:inline-block;
	    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
	    border: 1px solid #080808; border-left:0;
	    color: #ffffff;
	    padding:0.3em 1em;
	    background: #3c3c3c;
	    background: linear-gradient(0deg, #3c3c3c 0%, #222222 50%, #3c3c3c 100%);

	    i { margin-right:0.5ex; }

	    &:hover {
		background: #080808;
		background: linear-gradient(0deg, #3c3c3c 0%, #080808 50%, #3c3c3c 100%);
	    }
	    &.active {
		background: #947878;
		background: linear-gradient(0deg, #3c3c3c 0%, #947878 50%, #3c3c3c 100%);
	    }
	    
	    &:first-child { background:transparent; padding:0; border:0; margin-right:1ex; }
	    &:first-child:hover { color:black; }
	    &:nth-child(2) { border-radius: 1ex 0 0 1ex; border-left:1px solid #080808; }
	    &:last-child { border-radius: 0 1ex 1ex 0; }
	}
    }
    
    > img { display:block; max-width:100%; }
    > h1 { color: black; font-size: 1.5em; }
    > h2 { color: black; font-size: 1.5em; }
    h1,h2 {
	text-align:center; margin:0.4em 0;
	small {
	    font-size:70%;
	    &:before { content:'-'; margin:0 1ex; }
	}
    }


}

header h2 + h1 { font-size:0.8em; position:absolute; top:0; left:50%; transform:translate(-50%,0%); color:white; margin:0; padding:0; }
header h2 + h1 small { font-size:100%; }

