*~
.#*
.DS_Store
test/
tmp/
.ipynb_checkpoints/
*.swp
*__pycache__
*.aux
*.log
*.nav
*.out
*.snm
*.toc

tmp_lecture.tmp
tmpcsstmp/*
tmpimgtmp/*


assignment/data/*.fa
assignment/data/*.gtf
exercises/day*/*.html

