<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Python Courses @ NBIS</title>

        <meta name="description" content="Python Courses offered by NBIS">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="{{ site.url }}/img/apple-touch-icon.png">
	<link rel="shortcut icon" href="{{ site.url }}/img/favicon.ico" />

        <link rel="stylesheet" href="{{ site.url }}/css/normalize.css">
        <link rel="stylesheet" href="{{ site.url }}/css/main.css">

	<!-- html5 shim and respond.js ie8 support of html5 elements and media queries -->
	<!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
    </head>
    <body{{ page.body_tags }}>
        <!--[if lt IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

	<header>
	  <img src="{{ site.url }}/img/python-logo.png" alt="Python Logo" /><span>@</span><a href="//nbis.se"><img src="{{ site.url }}/img/nbis.png" alt="NBIS logo" /></a>
	</header>
	<main>
          {{ content }}
	</main>

	<footer>
	  <a href="//www.nbis.se">NBIS</a>
	</footer>
	  
	{% include analytics.html %}

    </body>
</html>
