<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>{{ page.title }}{% if page.title %} | {% endif %}Introduction to Python | VT17 @ NBIS</title>

        <meta name="description" content="Python Course given by NBIS in VT17">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="{{ site.url }}/img/apple-touch-icon.png">
	<link rel="shortcut icon" href="{{ site.url }}/img/favicon.ico" />

        <link rel="stylesheet" href="{{ site.url }}/css/normalize.css">
        <link rel="stylesheet" href="{{ site.url }}/css/vt17.css">
	<link rel="stylesheet" href="{{ site.url }}/css/font-awesome-4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="{{ site.url }}/css/pygments/style.css">

        <script src="{{ site.url }}/js/modernizr-2.8.3.min.js"></script>
	<!-- html5 shim and respond.js ie8 support of html5 elements and media queries -->
	<!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
    </head>
    <body{{ page.body_tags }}>
        <!--[if lt IE 9]>
            <p class="browserupgrade">
	      You are using an <strong>outdated</strong> browser.
	      Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
	    </p>
        <![endif]-->

	<header>
	  <nav>
	    <a href="https://www.scilifelab.se/education/courses/">
	      <img src="{{ site.url }}/img/scilifelab.png" alt="SciLifeLab courses" />
	    </a>
	    <a href="{{ site.url }}/vt17/"><i class="fa fa-fw fa-home"></i></a>
	    <a {% if page.menu == 'topics' %}class="active"{% endif %} href="{{ site.url }}/vt17/topics">
	      <i class="fa fa-fw fa-tasks"></i>
	      <!-- <i class="fa fa-fw fa-bars"> -->
	      Topics
	    </a>
	    <a {% if page.menu == 'project' %}class="active"{% endif %} href="{{ site.url }}/vt17/project">
	      <i class="fa fa-briefcase"></i>
	      <!-- <i class="fa fa-code-fork"></i> -->
	      Project
	    </a>
	    <a {% if page.menu == 'preliminary' %}class="active"{% endif %} href="{{ site.url }}/vt17/preliminary">
	      <i class="fa fa-fw fa-hourglass-start"></i></i>Preliminaries
	    </a>
	    <a {% if page.menu == 'help' %}class="active"{% endif %} href="{{ site.url }}/vt17/help">
	      <!-- <i class="fa fa-fw fa-medkit"></i> -->
	      <i class="fa fa-fw fa-support"></i>
	      Help
	    </a>
	    <a href="https://nbis.se">
	      <img src="{{ site.url }}/img/nbis.png" alt="NBIS" />
	    </a>
	  </nav>

	  {% if page.title %}<h2>{{ page.title }}</h2>{% endif %}
          <h1>Introduction to Python<small>VT17</small></a></h1>
	</header>
	<main>
          {{ content }}
	</main>

	<footer>
	  <span>Main Teacher: <a href="http://nbis.se/about/staff/frederic-haziza/">Frédéric Haziza</a></span>
	  <span><a href="https://www.nbis.se">NBIS</a> &copy; 2017</span>
	</footer>
        
	<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ site.url }}/js/jquery-1.12.0.min.js"><\/script>')</script>
        <script src="{{ site.url }}/js/vt17.js"></script>

	{% include analytics.html %}

    </body>
</html>
