<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Introduction to Python | VT17 @ NBIS</title>

        <meta name="description" content="Python Course given by NBIS in VT17">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="{{ site.url }}/img/apple-touch-icon.png">
	<link rel="shortcut icon" href="{{ site.url }}/img/favicon.ico" />

        <link rel="stylesheet" href="{{ site.url }}/css/normalize.css">
        <link rel="stylesheet" href="{{ site.url }}/css/vt17.css">
        <script src="{{ site.url }}/js/modernizr-2.8.3.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

	<header>
	  <img src="https://nbisweden.github.io/PythonCourse/img/python-nbis.png" alt="Banner" />
          <h1>Introduction to Python | VT17 @ NBIS</h1>
	</header>
	<main>
          {{ content }}
	</main>

	<footer>
	  Main Teacher: <a href="http://nbis.se/about/staff/frederic-haziza/">Frédéric Haziza</a> | <a href="https://www.nbis.se">NBIS</a> &copy; 2017
	</footer>
	  
        <!--
	<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ site.url }}/js/jquery-1.12.0.min.js"><\/script>')</script>
        <script src="{{}}/js/main.js"></script>
	-->

	{% include analytics.html %}

    </body>
</html>
